<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>海报生成器</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet"
	href="//layui.hcwl520.com.cn/layui/css/layui.css?v=201801090202"
	media="all">
<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
<script src="./js/Canvas2Image.js"></script>
</head>
<body>


	Ï
	<fieldset class="layui-elem-field layui-field-title"
		style="margin-top: 20px;">
		<legend>海报生成器</legend>
	</fieldset>

	<div style="padding: 20px; background-color: #F2F2F2;">
		<div class="layui-row layui-col-space15">

			<div class="layui-col-md6">
				<div class="layui-row">
					<div class="layui-col-md12">
						<div class="layui-card">
							<div class="layui-card-header">海报标题</div>
							<div class="layui-card-body">
								<input type="text" id="goodsTitle" required
									lay-verify="required" value="休闲套装特价限购" autocomplete="off"
									class="layui-input">
							</div>
						</div>
					</div>
					<div class="layui-col-md6">
						<div class="layui-card">
							<div class="layui-card-header">推广价</div>
							<div class="layui-card-body">
								<input type="text" id="goodsPrice1" required
									lay-verify="required" value="100" autocomplete="off"
									class="layui-input">
							</div>
						</div>
					</div>
					<div class="layui-col-md6">
						<div class="layui-card">
							<div class="layui-card-header">市场价</div>
							<div class="layui-card-body">
								<input type="text" id="goodsPrice2" required
									lay-verify="required" value="500" autocomplete="off"
									class="layui-input">
							</div>
						</div>
					</div>
					<div class="layui-col-md12">
						<div class="layui-card">
							<div class="layui-card-header">商品描述</div>
							<div class="layui-card-body">
								<textarea id="goodsDesc" required lay-verify="required"
									placehold="尺码 39&#13;&#10;款式 一脚蹬&#13;&#10;款号 abc"
									class="layui-textarea">
尺码 39
款式 一脚蹬
款号 abc
								</textarea>
							</div>
						</div>
					</div>
					<div class="layui-col-md6">
						<div class="layui-card">
							<div class="layui-card-header">主图地址</div>
							<div class="layui-card-body">
								<input id="imgFile" type="file" multiple accept="image/*"
									name="logo"> <input type="text" id="goodsAddr" required
									lay-verify="required" autocomplete="off" class="layui-input"
									>
							</div>
						</div>
					</div>
					<div class="layui-col-md6">
						<div class="layui-card">
							<div class="layui-card-header">小图一地址</div>
							<div class="layui-card-body">
								<input id="imgFile1" type="file" multiple accept="image/*"
									name="imgFile1"> <input type="text" id="goodsAddr1"
									required lay-verify="required" autocomplete="off"
									class="layui-input"
									>
							</div>
						</div>
					</div>
					<div class="layui-col-md6">
						<div class="layui-card">
							<div class="layui-card-header">小图二地址</div>
							<div class="layui-card-body">
								<input id="imgFile2" type="file" multiple accept="image/*"
									name="imgFile2"> <input type="text" id="goodsAddr2"
									required lay-verify="required" autocomplete="off"
									class="layui-input"
									>
							</div>
						</div>
					</div>
					<div class="layui-col-md6">
						<div class="layui-card">
							<div class="layui-card-header">小图三地址</div>
							<div class="layui-card-body">
								<input id="imgFile3" type="file" multiple accept="image/*"
									name="imgFile3"> <input type="text" id="goodsAddr3"
									required lay-verify="required" autocomplete="off"
									class="layui-input"
									>
							</div>
						</div>
					</div>
					<div class="layui-col-md12">
						<div class="layui-card">
							<button class="layui-btn layui-btn-fluid" onclick="generate();">生成海报</button>
						</div>
					</div>
				</div>
			</div>


			<div class="layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header">生成海报</div>
					<div class="layui-card-body">
						<canvas id="myCanvas" width="1080" height="1900" hidden>
					</canvas>
						<img id="myImg" width="100%" />
					</div>
					<div class="layui-col-md12">
						<div class="layui-card">
							<button class="layui-btn layui-btn-fluid" onclick="saveimg();">保存海报</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 
			<div class="layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header">海报模版</div>
					<div class="layui-card-body">
						<img id="templateImg" src="./img/haibao.jpeg" width=100% />
					</div>
				</div>
			</div>
-->
		</div>

		<script src="//layui.hcwl520.com.cn/layui/layui.js?v=201801090202"
			charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			layui.use([ 'jquery', 'layer' ], function() {
				var $ = layui.$;
				var layer = layui.layer;

				document.getElementById('imgFile').onchange = function() {
					console.log(this.files);
					for (var i = 0; i < this.files.length; i++) {
						var oFReader = new FileReader();
						oFReader.index = i;
						oFReader.readAsDataURL(this.files[i]);
						oFReader.onload = function(oFREvent) { //当读取操作成功完成时调用.
							var addrname = "#goodsAddr";
							var imgname = "#img";
							if (this.index > 3) {
								//break;
							} else if (this.index > 0) {
								addrname += this.index;
								imgname += this.index;
							}
							layui.$(addrname).val(oFREvent.target.result);
							layui.$(imgname).attr("crossOrigin", "anonymous");

						};
					}
				}
				document.getElementById('imgFile1').onchange = function() {
					var fileList = this.files[0];
					var oFReader = new FileReader();
					oFReader.readAsDataURL(fileList);
					oFReader.onload = function(oFREvent) { //当读取操作成功完成时调用.
						//postFile.paintImage(oFREvent.target.result);//把预览图片url传给函数
						layui.$("#goodsAddr1").val(oFREvent.target.result);
						layui.$("#img1").attr("crossOrigin", "anonymous");
					};
				}
				document.getElementById('imgFile2').onchange = function() {
					var fileList = this.files[0];
					var oFReader = new FileReader();
					oFReader.readAsDataURL(fileList);
					oFReader.onload = function(oFREvent) { //当读取操作成功完成时调用.
						//postFile.paintImage(oFREvent.target.result);//把预览图片url传给函数
						layui.$("#goodsAddr2").val(oFREvent.target.result);
						layui.$("#img2").attr("crossOrigin", "anonymous");
					};
				}
				document.getElementById('imgFile3').onchange = function() {
					var fileList = this.files[0];
					var oFReader = new FileReader();
					oFReader.readAsDataURL(fileList);
					oFReader.onload = function(oFREvent) { //当读取操作成功完成时调用.
						//postFile.paintImage(oFREvent.target.result);//把预览图片url传给函数
						layui.$("#goodsAddr3").val(oFREvent.target.result);
						layui.$("#img3").attr("crossOrigin", "anonymous");
					};
				}

			});

			const hbWidth = 1080;
			const hbHeight = 1900;

			// polyfill 提供了这个方法用来获取设备的 pixel ratio
			function getPixelRatio(context) {
				var backingStore = context.backingStorePixelRatio
						|| context.webkitBackingStorePixelRatio
						|| context.mozBackingStorePixelRatio
						|| context.msBackingStorePixelRatio
						|| context.oBackingStorePixelRatio
						|| context.backingStorePixelRatio || 1;

				return (window.devicePixelRatio || 1) / backingStore;
			};
			function generate() {

				var c = document.getElementById("myCanvas");
				var ctx = c.getContext("2d");
				var ratio = getPixelRatio(ctx);
				console.debug("ratio:" + ratio);

				//绘制背景
				ctx.fillStyle = 'white';
				ctx.fillRect(0, 0, hbWidth, hbHeight);
				var yOffset = 120;
				var xOffset = 60;
				//绘制商品标题
				ctx.font = "bold 50px arial,sans-serif";
				ctx.fillStyle = "rgb(0,0,0)";
				ctx.fillText(layui.$("#goodsTitle").val(), xOffset, yOffset);
				//绘制价格
				yOffset += 100;
				ctx.fillStyle = "#f9555c";
				ctx.font = "40px arial,sans-serif";
				ctx.fillText('特价 ￥', xOffset, yOffset);
				xOffset += 130;
				ctx.font = "bold 65px arial,sans-serif";
				ctx.fillText(layui.$("#goodsPrice1").val() + ".00", xOffset,
						yOffset);
				xOffset += 195;
				ctx.font = "40px arial,sans-serif";
				ctx.fillText("元", xOffset, yOffset);
				//绘制原价
				var marketPrice = layui.$("#goodsPrice1").val();
				xOffset += 80;
				ctx.fillStyle = "#999999";
				ctx.fillText('原价￥' + marketPrice + "元", xOffset, yOffset);
				//绘制原价的删除线
				ctx.lineWidth = 5;
				ctx.moveTo(xOffset, yOffset - 10);
				ctx.lineTo(xOffset + (3 + marketPrice.toString().length / 2)
						* 50, yOffset - 10);
				ctx.strokeStyle = '#999999';
				ctx.stroke();
				//绘制商品描述
				xOffset = 60;
				yOffset += 100;
				ctx.font = "40px arial,sans-serif";
				const goodsChaArray = layui.$("#goodsDesc").val().split(
						/[(\r\n)\r\n]+/);
				console.log(goodsChaArray);
				var countnum = 1;
				for (var i = 0; i < goodsChaArray.length; i++) {
					if (i >= 3) {
						countnum = i;
						break;
					}
					ctx.fillStyle = '#77777';
					ctx.textAlign = 'left';
					ctx.fillText(goodsChaArray[i], xOffset, yOffset);
					yOffset += 50;
				}
				if (countnum < 3) {
					yOffset += (3 - countnum) * 18;
				}
				//绘制图片
				var ssizeH = 350;
				var ssize = 328;
				//yOffset += 20;
				var img = new Image;
				//img.crossOrigin = "anonymous";
				var imgfile = layui.$("#imgFile");
				console.log(imgfile);
				xOffset = 25;
				img.onload = function() {
					ctx.drawImage(img, xOffset, yOffset, hbWidth - 50, 1000);
					//绘制小图一
					yOffset += 1000 + 20;
					var img1 = new Image;
					//img1.crossOrigin = "anonymous";
					img1.onload = function() {
						ctx.drawImage(img1, 25, yOffset, ssize, ssizeH);
						//绘制小图二
						xOffset += ssize + 20;
						var img2 = new Image;
						//img2.crossOrigin = "anonymous";
						img2.onload = function() {
							ctx
									.drawImage(img2, xOffset, yOffset, ssize,
											ssizeH);
							//绘制小图三
							xOffset += ssize + 20;
							var img3 = new Image;
							//img3.crossOrigin = "anonymous";
							img3.onload = function() {
								ctx.drawImage(img3, xOffset, yOffset, hbWidth
										- xOffset - 25, ssizeH);
								layui.layer.msg('恭喜，海报生成完毕！');
								var canvasImg = Canvas2Image.convertToJPEG(
										myCanvas, hbWidth, hbHeight);
								//console.log("canvas image:" + canvasImg.src);
								layui.$("#myImg").attr("src", canvasImg.src);
							}
							img3.src = layui.$("#goodsAddr3").val();

						}
						img2.src = layui.$("#goodsAddr2").val();

					}
					img1.src = layui.$("#goodsAddr1").val();

				}
				img.src = layui.$("#goodsAddr").val();

			}
			function saveimg() {
				var myCanvas = document.getElementById("myCanvas");

				var dom = document.createElement("a");
				dom.href = layui.$("#myImg").attr("src"); // myCanvas.toDataURL("image/png",0.5);
				dom.download = new Date().getTime() + ".jpeg";
				dom.click();
				layui.layer.msg("导出成功！");
			}
		</script>
</body>
</html>